.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title= @zoo.name
      .panel-body
        %dl.dl-horizontal
          %dt= t('zoo.total_animals')
          %dd= @zoo.total_animals
          %dt= t('zoo.total_species')
          %dd= @zoo.total_animals
          %dt= link_to t('views.see_animals'), zoo_animals_path(@zoo)


