.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Species
      .panel-body
        = link_to 'Add specie', new_species_path
        %table.table.table-hover
          %thead
            %tr
              %td Name
              %td Options
          %tbody
            - @species.each do |specie|
              %tr
                %td= specie.name
                %td
                  = link_to 'show', species_path(specie)
                  |
                  = link_to 'edit', edit_species_path(specie)
                  |
                  = link_to 'delete', species_path(specie), method: :delete, data: { confirm: 'Are you sure?' }
